<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">        
            <div class="container">        
  
    <div class="row col-md-8">                      
    <form class="form-horizontal" id="submitForm" action="#" th:action="@{/clients}" th:object="${searchquery}" method="post"> 
        <input type="text" class="form-control" id="SearchWords" th:field="*{searchWords}"/>
        <select class="btn btn-default dropdown-toggle" th:field="*{searchOption}">
        <option th:each="currentSearchOption : ${searchOptions}" 
              th:value="${currentSearchOption}"
              th:text="${currentSearchOption}">Wireframe</option>
        </select>
        <button type="submit" class="btn btn-primary" name="search">Zoeken</button>
    </form>          
    </div>
                
    <div th:if="${clients.empty}">
        <div>Er zijn geen cliënten gevonden</div>
        <br/>
    </div>
    <div th:unless="${clients.empty}">
    <table class="table">
    <thead>
      <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Woonplaats</th>
        <th>Automatische incasso</th>
        <th>Emailadres</th>
        <th>Telefoonnummer</th>
        <th>Handelingen</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
                <td th:text="${client.FirstName}"></td>
                <td th:text="${client.LastName}"/>
                <td th:text="${client.City}"/>
                <td th:text="${client.Incasso} ? 'Ja' : 'Nee'"/>
                <td th:text="${client.EmailAddress}"/>
                <td th:text="${client.TelephoneNumber}"/>
                <td><a th:href="@{/client/viewclient/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Bekijken</button></a></td>               
                <td><a th:href="@{/client/edit/{BSN}(BSN=${client.BSN})}" ><button type="button" class="btn btn-info">Bewerken</button></a></td>
                <td><a th:href="@{/client/delete/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Verwijderen</button></a></td>
                <td><a th:href="@{/insuranceContract/viewcontracts/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Contracten beheren</button></a></td>
        </tr>
    </tbody>
  </table>
</div>
</div>
           
          <a th:href="@{/client/create}"><button type="button" class="btn btn-info col-xs-2">Cliënt aanmaken</button></a> 
            
        </div>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>