<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">        
            <div class="container">        
  <table class="table">
    <thead>
      <tr>
        <th>Voornaam</th>
        <th>Achternaam</th>
        <th>Woonplaats</th>
        <th>Automatische incasso</th>
        <th>Emailadres</th>
        <th>Telefoonnummer</th>
        <th>Handelingen</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="client : ${clients}">
                <td th:text="${client.FirstName}"></td>
                <td th:text="${client.LastName}"/>
                <td th:text="${client.City}"/>
                <td th:text="${client.Incasso} ? 'Ja' : 'Nee'"/>
                <td th:text="${client.EmailAddress}"/>
                <td th:text="${client.TelephoneNumber}"/>
                <td><a th:href="@{/client/viewclient/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Bekijken</button></a></td>               
                <td><a th:href="@{/client/edit/{BSN}(BSN=${client.BSN})}" ><button type="button" class="btn btn-info">Bewerken</button></a></td>
                <td><a th:href="@{/client/delete/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Verwijderen</button></a></td>
                <td><a th:href="@{/client/viewcontracts/{BSN}(BSN=${client.BSN})}"><button type="button" class="btn btn-info">Contracten beheren</button></a></td>
        </tr>
    </tbody>
  </table>
</div>
           
        </div>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>
