<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
<form class="form-horizontal" action="#" th:action="@{/client/edit}" th:object="${client}" method="post">  
    
    <div class="form-group">
    <label for="BSN" class="control-label col-xs-1">BSN:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{BSN}" />
            <p th:if="${#fields.hasErrors('BSN')}" th:errors="*{BSN}">Name Error</p>           
        </div>
    </div>

    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Voornaam:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{FirstName}" />
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{FirstName}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Achternaam:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{LastName}" />
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{LastName}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Geboortedatum:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{DateOfBirth}" />
            <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{DateOfBirth}">Name Error</p>
        </div>
    </div>

    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Adres:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{Address}" />
            <p th:if="${#fields.hasErrors('address')}" th:errors="*{Address}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Stad:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{City}" />
            <p th:if="${#fields.hasErrors('city')}" th:errors="*{City}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Postcode:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{PostalCode}" />
            <p th:if="${#fields.hasErrors('postalCode')}" th:errors="*{PostalCode}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">IBAN:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{IBAN}" />
            <p th:if="${#fields.hasErrors('IBAN')}" th:errors="*{IBAN}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Incasso:</label>
        <div class="col-xs-3">
            <input type="checkbox" th:field="*{Incasso}" />
            <p th:if="${#fields.hasErrors('incasso')}" th:errors="*{Incasso}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Email:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{EmailAddress}" />
            <p th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{EmailAddress}">Name Error</p>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-1">Telefoon:</label>
        <div class="col-xs-3">
            <input type="text" th:field="*{TelephoneNumber}" />
            <p th:if="${#fields.hasErrors('telephoneNumber')}" th:errors="*{TelephoneNumber}">Name Error</p>
        </div>
    </div>
    

    <div class="form-group">
        <button class="btn btn-info" type="submit">Submit</button> 
        <a th:href="@{/clients}"><button type="button" class="btn btn-info">Terug</button></a>
    </div>
    <p th:text="${message}" />
</form>
        </div>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>


