<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- Header -->
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
<form class="form-horizontal" action="#" th:action="@{/client/viewclient}" th:object="${client}" method="post">  
    
    <div class="form-group">
    <label for="BSN" class="control-label col-xs-2">BSN:</label>
        <div class="col-xs-3">
                    <span th:text="${client.BSN}"/>        
        </div>
    </div>

    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Naam:</label>
        <div class="col-xs-3">
                    <span th:text="${client.FirstName} + ' ' + ${client.LastName}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Geboortedatum:</label>
        <div class="col-xs-3">
                    <span th:text="${client.DateOfBirth}"/>
        </div>
    </div>

    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Adres:</label>
        <div class="col-xs-3">
                    <span th:text="${client.Address}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Stad:</label>
        <div class="col-xs-3">
                    <span th:text="${client.City}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Postcode:</label>
        <div class="col-xs-3">
                    <span th:text="${client.PostalCode}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">IBAN:</label>
        <div class="col-xs-3">
                    <span th:text="${client.IBAN}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Incasso:</label>
        <div class="col-xs-3">
                    <span th:text="${client.Incasso} ? 'Ja' : 'Nee'" />
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Email:</label>
        <div class="col-xs-3">
                    <span th:text="${client.EmailAddress}"/>
        </div>
    </div>
    <div class="form-group">
    <label for="priceLbl" class="control-label col-xs-2">Telefoon:</label>
        <div class="col-xs-3">
                    <span th:text="${client.TelephoneNumber}"/>
        </div>
    </div>
        <a th:href="@{/clients}"><button type="button" class="btn btn-info col-xs-2">Terug</button></a>
</form>
        </div>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>


