<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <h1>Bewerken stamgegevens van de verzekeringsmaatschappij</h1>
        </div>
        
        <div class="container">
            <p>
                <form action="/editcompany" method="post">

                    Bedrijfsnaam: <br />
                    <input type="text" th:value="${name}" name="name"/><br /><br />

                    Plaats: <br />
                    <input type="text" th:value="${city}" name="city"/><br /><br />

                    Postcode: <br />
                    <input type="text" th:value="${postalCode}" name="postalCode"/><br /><br />

                    Adres: <br />
                    <input type="text" th:value="${address}" name="address"/><br /><br />

                    Land: <br />
                    <input type="text" th:value="${country}" name="country"/><br /><br />

                    KVK: <br />
                    <input type="text" th:value="${kVK}" name="kVK"/><br /><br />

                    <input type="submit" name="save" class="btn btn-primary" value="Aanpassen" />

                </form>
            </p>
        </div>
        
        <div class="container">
            <a href="/company">Klik hier om de stamgegevens van de verzekeringsmaatschappij te bekijken</a>
            <br />
            <br />
            <a href="/">Klik hier om terug te keren naar het hoofdmenu</a>
        </div>
        
        <footer class="footer">
            <div th:replace="fragments/footer :: footer">&copy; 2016 blog.codeleak.pl</div>
        </footer>
        <script src="https://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js" th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
        <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    </body>
</html>