<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Facturatie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="'Facturatie beheren van ' + ${firstName} + ' ' + ${lastName}" />
    
    <div th:if="${treatments.empty}">
        <div>Er zijn geen klanten met onbetaalde behandelingen</div>
    </div>
    
    <div th:unless="${treatments.empty}">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Behandelcode</th>
                    <th>Behandelingnaam</th>
                    <th>Aantal sessies</th>
                    <th>Sessieduur</th>
                    <th>Tarief</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="treatment : ${treatments}">
                    <td th:text="${treatment.behandelCode}"/>
                    <td th:text="${treatment.behandelingNaam}"/>
                    <td th:text="${treatment.aantalSessies}"/>
                    <td th:text="${treatment.sessieDuur} + ' uur'"/>
                    <td th:text="'&euro;' + ${treatment.tariefBehandeling}"/>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Totaalbedrag:</td>
                    <td th:text="'&euro;' + ${totaalBedrag}"/>
                </tr>
            </tbody>
        </table>
        
        <form action="/clientinvoice" method="post">
            <input type="hidden" th:value="${bSN}" name="bSN" />

            <input type="submit" name="save" value="Factureren" />
        </form>
    </div>
    
    <br />
        
    <a href="/invoice">Klik hier om terug te keren naar het facturatiemenu</a>
    <br />
    <br />
    <a href="/">Klik hier om terug te keren naar het hoofdmenu</a>
</body>
</html>
