<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Stamgegevens verzekeringsmaatschappij</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Stamgegevens van de verzekeringsmaatschappij</h1>

    <p th:text="'Bedrijfsnaam: ' + ${name}" />
    <p th:text="'Plaats: ' + ${city}" />
    <p th:text="'Postcode: ' + ${postalCode}" />
    <p th:text="'Adres: ' + ${address}" />
    <p th:text="'Land: ' + ${country}" />
    <p th:text="'KVK: ' + ${kVK}" />
    
    <br />
    
    <a href="/editcompany">Klik hier om de stamgegevens van de verzekeringsmaatschappij te bewerken</a>
    <br />
    <br />
    <a href="/">Klik hier om terug te keren naar het hoofdmenu</a>
</body>
</html>