<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Facturatie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Facturatiemenu</h1>
    
    <form id="submitForm" action="#" th:action="@{/invoice}" th:object="${searchquery}" method="post">
        <select th:field="*{searchOption}">
         <option th:each="currentSearchOption : ${searchOptions}" 
              th:value="${currentSearchOption}"
              th:text="${currentSearchOption}">Wireframe</option>
        </select>

        <input type="text" class="form-control" id="SearchWords" th:field="*{searchWords}"/>
        <button type="submit" class="btn btn-primary" name="search">Zoeken</button>
        <a href="/invoice">Reset</a>
    </form>
    
    <br />
    
    <div th:if="${clients.empty}">
        <div>Er zijn geen klanten die voldoen aan de criteria</div>
    </div>
    <div th:unless="${clients.empty}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>BSN</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Handeling</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.BSN}"/>
                <td th:text="${client.FirstName}"/>
                <td th:text="${client.LastName}"/>
                <td><a th:href="@{/clientinvoice/{BSN}(BSN=${client.BSN})}" th:text="Beheren"/></td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <br />
    <a href="/">Klik hier om terug te keren naar het hoofdmenu</a>
</body>
</html>