<a th:href="@{/clients}">Terug</a>

<div class="container" layout:fragment="summary"> 
    
    <div th:if="${client.contracts.empty}">
        <div>Er zijn geen contracten gevonden, <a th:href="@{/client/addinsurancecontract/{BSN}(BSN=${client.BSN})}" th:text="Voeg + ' ' + toe"/></div>
    </div>
    <div th:unless="${client.contracts.empty}">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Verzekering</th>
                <th>Verzekering type</th>
                <th>Begindatum</th>
                <th>Einddatum</th>
                <th>Eigen risico</th>
                <th>Resterende vergoedingen</th>
                <th>Handelingen</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="InsuranceContract : ${client.contracts}">
                <td th:text="${InsuranceContract.insurance.name}"/>
                <td th:text="${InsuranceContract.insuranceType.name}"/>
                <td th:text="${InsuranceContract.startDate}"/>
                <td th:text="${InsuranceContract.endDate}"/>
                <td th:text="${InsuranceContract.excess}"/>
                <td th:text="${InsuranceContract.remainingReimbursements}"/>
                <td><a th:href="@{/insuranceContract/edit/{ID}(ID=${InsuranceContract.insuranceContractID})}" th:text="Bewerken"/> <a th:href="@{/insuranceContract/delete/{ID}(ID=${InsuranceContract.insuranceContractID})}" th:text="Verwijderen"/></td>
            </tr>
            </tbody>
            <a th:href="@{/insuranceContract/create/{BSN}(BSN=${client.BSN})}" th:text="Contract + ' ' + toevoegen"/>
        </table>
    </div>
</div>